File "AQM_Analyse":
1. Import the clean Data from SQL DB into Notebook
2. Prepare Data for Analysis
3. Create Dataframe to save the Results
4. Create Loop, which executes multivariate OLS regressions using all combinations of 1 and 10 explanatory macroeconomic variables 
5. Save the Results from the Loop into the "Result"-Dataframe
    For each Regression calculate:
        Autocorrelation
        heteroskedasticity
        multicollinearity
6. Export Results to SQL Lite into Table "Results"

In [2]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

import scipy
import seaborn as sns
import xlsxwriter

import math
from math import exp, sqrt, log

%matplotlib inline

from scipy import stats


import statsmodels as sm
from statsmodels.regression.linear_model import OLS

Diverse Code-Snippets:

In [ ]:
#Jarq Bera Test:
stats.jarque_bera(ReturnS)

#LjungBox autocorrelation:
PF_Ljung = sm.stats.acorr_ljungbox(PF_Returns, lags=10)

#Autocorrelation als Grafik:
data = np.array(PF_Returns)
plt.acorr(data, maxlags=20)
plt.title('Autokorrelation der Portfolio-Renditen')
plt.xlabel('Lag')
plt.ylabel('Autokorrelation')
plt.savefig('Autocorrelation.png', dpi=800)
plt.show()

#Normalverteilung als QQ-Plot darstellen:
stats.probplot(PF_Returns, dist="norm", plot=pylab)
#pylab.title('Q-Q Plot der täglichen Portfolio-Renditen')
pylab.title('')
pylab.xlabel('Normale Quantile')
pylab.ylabel('Sample Quantile')
pylab.savefig('QQ-Plot.png', dpi=800)
pylab.show()

#ad Fuller
ts.adfuller(df['GDP'])

#OLS
import statsmodels.api as sm
y = df['UNEMR']
x = df[['GDP_GR']]
x = sm.add_constant(x)
model = sm.OLS(y,x, missing = 'drop') 
results = model.fit()
print(results.summary())

#Breusch Pagan Test:
statsmodels.stats.diagnostic.het_breuschpagan(results.resid, exog_het = x)

#Scatter Plot
df.plot(x = 'x1', y = 'y', kind = 'scatter')                                           
plt.show()


np.dot(var1,var2) vector multiplication

var1.T transposes the vector

np.linalg.inv (var1) inverts the matrix

np.diag (var1) extract a diagonal

Def fct (var1,var2) defines the function ,

OLS_results = library for displaying further

Return OLS_results

Beispiel Loops:

In [ ]:
#---------------------------------------------------------------------------------------------------------------
#-----------------------------------------------------------------------
#Parameter definieren:
#---------------------------------------------------------------------------------------------------------------
Anzahl_Simulationen = 1000 #1000, 2000, 3000 Simulationen eingeben
Sample_length = 750 #Sample-Grösse für Bootstrap: 250, 500, 750, 1000
alpha = 0.05 #Konfidenzintervall definieren 0.05 und 0.25
Position_VaR = int(Anzahl_Simulationen * alpha) 
#Da unterschiedliche Anzahl Simulationen, dynamisch 5%-Position 
Anzahl_Wiederholungen = 5   
#Konsistenz der Berechnung überprüfen, indem alles 5-Mal durchgeführt wird.


#---------------------------------------------------------------------------------------------------------------
#Sample-Länge definieren:
#Automatische Adjustierung der Sample-Länge:
#---------------------------------------------------------------------------------------------------------------
Returns2 = Returns.reset_index()
Sample_for_Bootstrap = Returns2[['Novartis', 'LafargeHolcim',
                                 'Logitech', 'Nestle', 'Swiss_Re']]

sample_length_adjustierung = (round((len(Sample_for_Bootstrap)-Sample_length)/(10)))*10 + Sample_length
Returns_for_sample = Returns[:sample_length_adjustierung].reset_index()
Sample_for_Bootstrap = Returns_for_sample[['Novartis', 'LafargeHolcim',
                                           'Logitech', 'Nestle', 'Swiss_Re']]

#---------------------------------------------------------------------------------------------------------------
#Loop 1: Alles 5 Mal ausführen und als Excel & Grafik speichern:
#---------------------------------------------------------------------------------------------------------------
for y in range(0,Anzahl_Wiederholungen):
    BHS = [] #Tabelle mit allen berechneten VaR der BHS-Methode
    CBB = [] #Tabelle mit allen berechneten VaR der CBB-Methode
    Reality = [] #Tabelle für die jeweiligen 10 Tage, welche für das Backtesting benötigt werden
    
    #Dynamisch die Dateinamen für das Excel und der Grafik generieren:
    excel_name = "Simulationen/VaR_Simulation_"+str(alpha)+"_Sim_"+str(Anzahl_Simulationen)+"_length_"+str(Sample_length)+"_V"+str(y+1)+ ".xlsx"
    Bild_name = "Simulationen/VaR_Simulation_"+str(alpha)+"_Sim_"+str(Anzahl_Simulationen)+"_length_"+str(Sample_length)+"_V"+str(y+1)+".png"
    
    #---------------------------------------------------------------------------------------------------------------
    #Loop 2: Rolling-Window-Methode: 750 Tage für die Durchführung des Bootstrappings + 10 Tage für Backtesting:
    #---------------------------------------------------------------------------------------------------------------
    for x in range(0, len(Sample_for_Bootstrap)-Sample_length, 10): 
        Samp = Sample_for_Bootstrap[x:x+Sample_length] 

        #Nächsten 10 Tagen für das Backtesting wählen, in diskrete Portfolio-Renditen umrechnen und speichern:
        T = Sample_for_Bootstrap.iloc[x+Sample_length:x+Sample_length+10]
        Real_Sample = T.sum()
        diskrete_real = Math.e**(Real_Sample)-1 
        diskrete_real = diskrete_real.mean()  
        Reality.append(diskrete_real)
        
        #---------------------------------------------------------------------------------------------------------------
        #Loop 3: 
            #Bootstrap Historical Simulation & Circular Bootstrap anwenden
            #mit n Simulationen & zeitliche Addition der Log-Returns 
            #umrechnen in diskrete Returns und berechnung Mittelwert für Portfolio-Rendite:
        #---------------------------------------------------------------------------------------------------------------

        #---------------------------------------------------------------------------------------------------------------
        #Bootstrap Historical Simulation (BHS): 10 Tage nach Zufall mit Zurücklegen ziehen und dies 1000 mal wiederholen:
        #---------------------------------------------------------------------------------------------------------------
        BHS_VaR = []
        for x in range(0,Anzahl_Simulationen):
            Stichproben = Samp.sample(n=10, replace=True).sum()
            df2 = Math.e**(Stichproben)-1 
            x = df2.mean() 
            BHS_VaR.append([x])   

        #---------------------------------------------------------------------------------------------------------------
        #Circular Block Bootstrap (CBB): 10-Tages-Blöcke mit Circular-Effekt ziehen und dies 1000 mal wiederholen:
        #---------------------------------------------------------------------------------------------------------------
        CBB_VaR = [] 
        for x in range(0,Anzahl_Simulationen):    
            Random_X_from = np.random.randint(0,Sample_length+1)
            Random_X_to = Random_X_from + 10
            Stichproben_CBB = Samp[Random_X_from:Random_X_to]
            
            #-------------------------------------------------------------------------
            #Circular-Effekt: Das Ende des Samples mit dem Anfang verbinden -> über den Rand
            #-------------------------------------------------------------------------
            if Random_X_to > Sample_length: #Überprüfen, ob Block über den Rand geht.
                Random_X_to_Circle = (Random_X_to-Sample_length) #Anzahl fehlende Tage berechnen
                Rest_Circular = Samp[:Random_X_to_Circle] #Fehlende Tage vom Anfang des Samples holen
                Stichproben_CBB = pd.concat([Stichproben_CBB, Rest_Circular]) #Beide Listen zusammenfügen

            Stichproben_CBB.sum()
            Stichproben_CBB = Stichproben_CBB.sum()
            df_CBB = Math.e**(Stichproben_CBB)-1  #Log Renditen in Diskrete Renditen umrechnen
            x_CBB = df_CBB.mean()    #Portfolio Rendite rechnen
            CBB_VaR.append([x_CBB])    #Tabelle mit 1000 Portfolio Renditen

        #---------------------------------------------------------------------------------------------------------------
        #Alle 1000 simulierten Portfolio-Renditen aufsteigend sortieren und der 51 schlechteste als VaR definieren:
        #---------------------------------------------------------------------------------------------------------------
        CBB_VaR.sort()
        PF_Returns_Simulation_CBB = pd.DataFrame(CBB_VaR)
        VaR_CBB = PF_Returns_Simulation_CBB.iloc[Position_VaR]
        CBB.append(VaR_CBB)

        BHS_VaR.sort()
        PF_Returns_Simulation_BHS = pd.DataFrame(BHS_VaR)
        a = PF_Returns_Simulation_BHS.iloc[Position_VaR]
        BHS.append(a)
    
    #---------------------------------------------------------------------------------------------------------------
    #Die berechneten VaRs der beiden Methoden in neue Tabelle speichern & die tatsächliche 10-Tages-Rendite ergänzen:
    #---------------------------------------------------------------------------------------------------------------
    Simulationen = pd.DataFrame(BHS)
    Simulationen = Simulationen.rename(columns={0:'BHS_VaR'})
    Simulationen['CBB_VaR'] = pd.DataFrame(CBB)
    Simulationen = Simulationen.reset_index()
    Simulationen.drop('index', axis=1, inplace=True)
    Simulationen = pd.concat([Simulationen, pd.DataFrame(Reality)], axis=1)
    Simulationen = Simulationen.rename(columns={0:'Reality'})
    
    #---------------------------------------------------------------------------------------------------------------
    #Grafik speichern:
    #---------------------------------------------------------------------------------------------------------------
    Simulationen.plot(figsize=(30,15));
    plt.savefig(Bild_name, dpi=400)
    
    #---------------------------------------------------------------------------------------------------------------
    #Anzahl Exceptions & Exceptions Rate berechnen:
    #---------------------------------------------------------------------------------------------------------------  
    Simulationen['BHS_Exceptions'] = Simulationen.BHS_VaR > Simulationen.Reality
    Simulationen['Anzahl_BHS_Exceptions'] = (Simulationen.BHS_VaR > Simulationen['Reality']).sum()
    Simulationen['BHS_Exception_Rate'] = Simulationen.Anzahl_BHS_Exceptions/(len(Simulationen))
    
    Simulationen['CBB_Exceptions'] = Simulationen.CBB_VaR > Simulationen.Reality
    Simulationen['Anzahl_CBB_Exceptions'] = (Simulationen.CBB_VaR > Simulationen['Reality']).sum()
    Simulationen['CBB_Exception_Rate'] = Simulationen.Anzahl_CBB_Exceptions/(len(Simulationen))
    
    Simulationen.to_excel(excel_name)
    Simulationen

In [ ]:
#-----------------------------------------------------------------------------------------------
#Abgelegte Excels für das Backtesting einlesen:
#-----------------------------------------------------------------------------------------------
Sim = [1000, 2000, 3000]
LL = [250, 500, 750, 1000]
Anzahl_Wiederholungen = 5
path = r'C:\Users\lione\OneDrive\ZHAW\Bachelor-Arbeit\Simulationen'

#-----------------------------------------------------------------------------------------------
#Parameter eingeben: 
#-----------------------------------------------------------------------------------------------
Hypo_alpha = 0.05  #Konfidenzniveau für Hypothesen-Test eingeben !!!!!!!!!!!! 0.25????

#-----------------------------------------------------------------------------------------------
#Abgelegte Excels für das Backtesting mittels Schlaufen einlesen:
#-----------------------------------------------------------------------------------------------
Results = pd.DataFrame()

for S in Sim:
    for L in LL:
        for y in range(0,Anzahl_Wiederholungen):
            
            #-----------------------------------------------------------------------------------------------
            #Alle Excel-Files importieren und als DataFrames speichern:
            #-----------------------------------------------------------------------------------------------
            excel_name = "\VaR_Simulation_Sim_"+str(S)+"_length_"+str(L)+"_V"+str(y+1)+".xlsx" #VaR 95%
            import_name = path + excel_name
            name = "S_"+str(S)+"_L_"+str(L)+"_V"+str(y+1)
            vars()[name] = pd.read_excel(import_name, sep=';', index_col=0).sort_index()
            
            #-----------------------------------------------------------------------------------------------
            #RUNS-TEST:
            #Für jedes File den Runs-Test durchführen und den Z-Score und P-Wert speichern:
            #-----------------------------------------------------------------------------------------------
            vars()[name]['RT_Z_Score_BHS'] = runstest_1samp(vars()[name].BHS_Exceptions, correction=False)[0]
            vars()[name]['RT_P_Value_BHS'] = runstest_1samp(vars()[name].BHS_Exceptions, correction=False)[1]
            vars()[name]['RT_reject_H0_BHS'] = vars()[name]['RT_P_Value_BHS'] <= Hypo_alpha
            
            vars()[name]['RT_Z_Score_CBB'] = runstest_1samp(vars()[name].CBB_Exceptions, correction=False)[0]
            vars()[name]['RT_P_Value_CBB'] = runstest_1samp(vars()[name].CBB_Exceptions, correction=False)[1]
            vars()[name]['RT_reject_H0_CBB'] = vars()[name]['RT_P_Value_CBB'] <= Hypo_alpha
            vars()[name]['Run'] = name
            
            #-----------------------------------------------------------------------------------------------
            #Erste Zeile jedes DataFrames wählen und in neue Tabelle mit allen Resultaten speichern:
            #-----------------------------------------------------------------------------------------------
            First_col = pd.DataFrame(vars()[name].iloc[0])
            First_col = First_col.T
            Results = pd.concat([Results, First_col])

#-----------------------------------------------------------------------------------------------
#Tabelle mit den Resultaten optimieren und als Excel exportieren:
#-----------------------------------------------------------------------------------------------
Results = Results.set_index('Run')
Results = Results.drop(['BHS_VaR','CBB_VaR','Reality','BHS_Exceptions', 'CBB_Exceptions'], axis=1)
Results = Results.rename(columns= 
                             {'Anzahl_BHS_Exceptions' : 'BHS_Exceptions'
                             ,'Anzahl_CBB_Exceptions' : 'CBB_Exceptions'})
Results['Anzahl_Tests'] = Results.BHS_Exceptions / Results.BHS_Exception_Rate
Results.to_excel('Results_95.xlsx')
Results_95 = Results 
Results_95

In [21]:
import sqlite3
from sqlite3 import Error
 

""" create a database connection tool to a SQLite database """

def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()
 
 
if __name__ == '__main__':
    create_connection(r"C:\Users\lione\OneDrive\ZHAW\Master\Semester 2\AQM\Python\your_first_db.db")

2.6.0

In [22]:
conn = sqlite3.connect(r"C:\Users\lione\OneDrive\ZHAW\Master\Semester 2\AQM\Python\your_first_db.db")

print("Opened database successfully")

Opened database successfully

In [23]:
# Create Table in using SQL and Python
conn = sqlite3.connect(r"C:\Users\lione\OneDrive\ZHAW\Master\Semester 2\AQM\Python\your_first_db.db")

conn.execute('''CREATE TABLE COMPANY1
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')

print("Table created successfully")

Table created successfully

In [26]:
# Insert information into the table using SQL and Python
conn = sqlite3.connect(r"C:\Users\lione\OneDrive\ZHAW\Master\Semester 2\AQM\Python\your_first_db.db")

conn.execute("INSERT INTO COMPANY1(ID,NAME,AGE,ADDRESS,SALARY) VALUES (1, 'Paul', 32, 'California', 20000.00)");
conn.commit()

In [27]:
conn = sqlite3.connect('TestDB1.db')
c = conn.cursor()
c.execute('''CREATE TABLE COMPANY1
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')

print("Table created successfully")

Table created successfully

In [28]:
conn = sqlite3.connect('TestDB1.db')
c = conn.cursor()

c.execute('''INSERT INTO COMPANY1(ID,NAME,AGE,ADDRESS) VALUES (1, 'Adam', 33, 'California')''')
conn.commit()

print("Information inserted successfully")

Information inserted successfully

# Data Retrieval, Database Upload and Handling

In [29]:
# Save data from Web Reader to a database
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2020, 1, 1)
variables = pd.DataFrame(web.DataReader(['CPIAUCSL', 'WTISPLC','T5YIFRM'], 'fred', start, end))
variables.tail()

            CPIAUCSL  WTISPLC  T5YIFRM
DATE
2019-09-01   256.596    56.95     1.78
2019-10-01   257.305    53.96     1.72
2019-11-01   257.788    57.03     1.73
2019-12-01   258.263    59.88     1.81
2020-01-01   258.682    57.52     1.79

In [30]:
conn = sqlite3.connect('Inflation1.db')
c = conn.cursor()
c.execute('''CREATE TABLE Inflation_data
         (DATE TIMESTAMP,
         CPIAUCSL           INT    NOT NULL,
         WTISPLC            INT     NOT NULL,
         T5YIFRM INT)''')

print("Table created successfully")

Table created successfully

In [31]:
index1=variables.index.strftime('%Y-%m-%d %H-%M-%S')
variables['Date1']=index1
variables.head(5)

            CPIAUCSL  WTISPLC  T5YIFRM                Date1
DATE
2010-01-01   217.488    78.22     2.66  2010-01-01 00-00-00
2010-02-01   217.281    76.42     2.60  2010-02-01 00-00-00
2010-03-01   217.353    81.24     2.57  2010-03-01 00-00-00
2010-04-01   217.403    84.48     2.74  2010-04-01 00-00-00
2010-05-01   217.290    73.84     2.45  2010-05-01 00-00-00

In [32]:
variables.shape

(121, 4)

In [33]:
# convert data from dataframe into a vector of lists

records_to_insert = variables.values.tolist()
records_to_insert

[[217.488, 78.22, 2.66, '2010-01-01 00-00-00'],
 [217.28099999999998, 76.42, 2.6, '2010-02-01 00-00-00'],
 [217.35299999999998, 81.24, 2.57, '2010-03-01 00-00-00'],
 [217.403, 84.48, 2.74, '2010-04-01 00-00-00'],
 [217.29, 73.84, 2.45, '2010-05-01 00-00-00'],
 [217.199, 75.35, 2.22, '2010-06-01 00-00-00'],
 [217.605, 76.37, 2.12, '2010-07-01 00-00-00'],
 [217.923, 76.82, 2.02, '2010-08-01 00-00-00'],
 [218.275, 75.31, 2.2, '2010-09-01 00-00-00'],
 [219.035, 81.9, 2.52, '2010-10-01 00-00-00'],
 [219.59, 84.14, 2.62, '2010-11-01 00-00-00'],
 [220.472, 89.04, 2.78, '2010-12-01 00-00-00'],
 [221.187, 89.42, 2.73, '2011-01-01 00-00-00'],
 [221.898, 89.58, 2.67, '2011-02-01 00-00-00'],
 [223.046, 102.94, 2.7, '2011-03-01 00-00-00'],
 [224.093, 110.04, 2.89, '2011-04-01 00-00-00'],
 [224.80599999999998, 101.33, 2.6, '2011-05-01 00-00-00'],
 [224.80599999999998, 96.29, 2.52, '2011-06-01 00-00-00'],
 [225.395, 97.19, 2.73, '2011-07-01 00-00-00'],
 [226.106, 86.33, 2.55, '2011-08-01 00-00-00'],
 [226.597, 85.61, 2.18, '2011-09-01 00-00-00'],
 [226.75, 86.41, 2.23, '2011-10-01 00-00-00'],
 [227.169, 97.21, 2.26, '2011-11-01 00-00-00'],
 [227.22299999999998, 98.57, 2.35, '2011-12-01 00-00-00'],
 [227.842, 100.24, 2.4, '2012-01-01 00-00-00'],
 [228.329, 102.25, 2.5, '2012-02-01 00-00-00'],
 [228.80700000000002, 106.19, 2.57, '2012-03-01 00-00-00'],
 [229.187, 103.33, 2.57, '2012-04-01 00-00-00'],
 [228.713, 94.7, 2.4, '2012-05-01 00-00-00'],
 [228.524, 82.41, 2.48, '2012-06-01 00-00-00'],
 [228.59, 87.93, 2.49, '2012-07-01 00-00-00'],
 [229.918, 94.16, 2.64, '2012-08-01 00-00-00'],
 [231.015, 94.72, 2.72, '2012-09-01 00-00-00'],
 [231.638, 89.57, 2.82, '2012-10-01 00-00-00'],
 [231.24900000000002, 86.66, 2.79, '2012-11-01 00-00-00'],
 [231.22099999999998, 88.25, 2.86, '2012-12-01 00-00-00'],
 [231.679, 94.69, 2.84, '2013-01-01 00-00-00'],
 [232.937, 95.32, 2.86, '2013-02-01 00-00-00'],
 [232.282, 93.05, 2.85, '2013-03-01 00-00-00'],
 [231.797, 92.07, 2.73, '2013-04-01 00-00-00'],
 [231.893, 94.8, 2.6, '2013-05-01 00-00-00'],
 [232.445, 95.8, 2.31, '2013-06-01 00-00-00'],
 [232.9, 104.61, 2.39, '2013-07-01 00-00-00'],
 [233.456, 106.57, 2.53, '2013-08-01 00-00-00'],
 [233.544, 106.29, 2.53, '2013-09-01 00-00-00'],
 [233.669, 100.54, 2.6, '2013-10-01 00-00-00'],
 [234.1, 93.86, 2.59, '2013-11-01 00-00-00'],
 [234.71900000000002, 97.63, 2.65, '2013-12-01 00-00-00'],
 [235.28799999999998, 94.62, 2.72, '2014-01-01 00-00-00'],
 [235.547, 100.82, 2.54, '2014-02-01 00-00-00'],
 [236.028, 100.8, 2.54, '2014-03-01 00-00-00'],
 [236.468, 102.07, 2.53, '2014-04-01 00-00-00'],
 [236.918, 102.18, 2.45, '2014-05-01 00-00-00'],
 [237.231, 105.79, 2.49, '2014-06-01 00-00-00'],
 [237.498, 103.59, 2.55, '2014-07-01 00-00-00'],
 [237.46, 96.54, 2.56, '2014-08-01 00-00-00'],
 [237.477, 93.21, 2.47, '2014-09-01 00-00-00'],
 [237.43, 84.4, 2.35, '2014-10-01 00-00-00'],
 [236.983, 75.79, 2.28, '2014-11-01 00-00-00'],
 [236.252, 59.29, 2.13, '2014-12-01 00-00-00'],
 [234.747, 47.22, 2.02, '2015-01-01 00-00-00'],
 [235.342, 50.58, 2.08, '2015-02-01 00-00-00'],
 [235.976, 47.82, 2.04, '2015-03-01 00-00-00'],
 [236.222, 54.45, 2.11, '2015-04-01 00-00-00'],
 [237.00099999999998, 59.27, 2.1, '2015-05-01 00-00-00'],
 [237.657, 59.82, 2.09, '2015-06-01 00-00-00'],
 [238.03400000000002, 50.9, 2.15, '2015-07-01 00-00-00'],
 [238.033, 42.87, 1.99, '2015-08-01 00-00-00'],
 [237.498, 45.48, 1.88, '2015-09-01 00-00-00'],
 [237.733, 46.22, 1.82, '2015-10-01 00-00-00'],
 [238.017, 42.44, 1.87, '2015-11-01 00-00-00'],
 [237.761, 37.19, 1.78, '2015-12-01 00-00-00'],
 [237.65200000000002, 31.68, 1.65, '2016-01-01 00-00-00'],
 [237.33599999999998, 30.32, 1.54, '2016-02-01 00-00-00'],
 [238.08, 37.55, 1.69, '2016-03-01 00-00-00'],
 [238.99200000000002, 40.75, 1.76, '2016-04-01 00-00-00'],
 [239.55700000000002, 46.71, 1.68, '2016-05-01 00-00-00'],
 [240.222, 48.76, 1.5, '2016-06-01 00-00-00'],
 [240.101, 44.65, 1.53, '2016-07-01 00-00-00'],
 [240.545, 44.72, 1.64, '2016-08-01 00-00-00'],
 [241.176, 45.18, 1.67, '2016-09-01 00-00-00'],
 [241.74099999999999, 49.78, 1.79, '2016-10-01 00-00-00'],
 [242.02599999999998, 45.66, 1.97, '2016-11-01 00-00-00'],
 [242.637, 51.97, 2.05, '2016-12-01 00-00-00'],
 [243.618, 52.5, 2.13, '2017-01-01 00-00-00'],
 [244.00599999999997, 53.47, 2.15, '2017-02-01 00-00-00'],
 [243.892, 49.33, 2.15, '2017-03-01 00-00-00'],
 [244.19299999999998, 51.06, 2.08, '2017-04-01 00-00-00'],
 [244.00400000000002, 48.48, 1.91, '2017-05-01 00-00-00'],
 [244.16299999999998, 45.18, 1.83, '2017-06-01 00-00-00'],
 [244.243, 46.63, 1.9, '2017-07-01 00-00-00'],
 [245.183, 48.04, 1.94, '2017-08-01 00-00-00'],
 [246.435, 49.82, 1.98, '2017-09-01 00-00-00'],
 [246.62599999999998, 51.58, 1.99, '2017-10-01 00-00-00'],
 [247.28400000000002, 56.64, 1.95, '2017-11-01 00-00-00'],
 [247.805, 57.88, 2.04, '2017-12-01 00-00-00'],
 [248.743, 63.7, 2.15, '2018-01-01 00-00-00'],
 [249.43900000000002, 62.23, 2.23, '2018-02-01 00-00-00'],
 [249.581, 62.73, 2.16, '2018-03-01 00-00-00'],
 [250.146, 66.25, 2.21, '2018-04-01 00-00-00'],
 [250.77900000000002, 69.98, 2.18, '2018-05-01 00-00-00'],
 [251.118, 67.87, 2.17, '2018-06-01 00-00-00'],
 [251.32299999999998, 70.98, 2.2, '2018-07-01 00-00-00'],
 [251.74900000000002, 68.06, 2.22, '2018-08-01 00-00-00'],
 [252.239, 70.23, 2.24, '2018-09-01 00-00-00'],
 [252.862, 70.75, 2.23, '2018-10-01 00-00-00'],
 [252.657, 56.96, 2.17, '2018-11-01 00-00-00'],
 [252.551, 49.52, 2.02, '2018-12-01 00-00-00'],
 [252.47, 51.38, 1.96, '2019-01-01 00-00-00'],
 [253.135, 54.95, 2.0, '2019-02-01 00-00-00'],
 [254.273, 58.15, 2.01, '2019-03-01 00-00-00'],
 [255.16299999999998, 63.86, 2.03, '2019-04-01 00-00-00'],
 [255.325, 60.83, 1.94, '2019-05-01 00-00-00'],
 [255.361, 54.66, 1.85, '2019-06-01 00-00-00'],
 [255.9, 57.35, 1.93, '2019-07-01 00-00-00'],
 [256.17900000000003, 54.81, 1.79, '2019-08-01 00-00-00'],
 [256.596, 56.95, 1.78, '2019-09-01 00-00-00'],
 [257.305, 53.96, 1.72, '2019-10-01 00-00-00'],
 [257.788, 57.03, 1.73, '2019-11-01 00-00-00'],
 [258.263, 59.88, 1.81, '2019-12-01 00-00-00'],
 [258.682, 57.52, 1.79, '2020-01-01 00-00-00']]

In [34]:
#Let's upload the data from the FRED to our database

c = conn.cursor()
c.executemany("INSERT INTO Inflation_data(CPIAUCSL,WTISPLC,T5YIFRM,DATE) VALUES (?,?,?,?)", records_to_insert)    
conn.commit()

In [35]:
#Let's now select the data from the database and pull them to python 
c = conn.cursor()
c.execute("SELECT * FROM Inflation_data")
new_data=c.fetchall()
new_data

[('2010-01-01 00-00-00', 217.488, 78.22, 2.66),
 ('2010-02-01 00-00-00', 217.28099999999998, 76.42, 2.6),
 ('2010-03-01 00-00-00', 217.35299999999998, 81.24, 2.57),
 ('2010-04-01 00-00-00', 217.403, 84.48, 2.74),
 ('2010-05-01 00-00-00', 217.29, 73.84, 2.45),
 ('2010-06-01 00-00-00', 217.199, 75.35, 2.22),
 ('2010-07-01 00-00-00', 217.605, 76.37, 2.12),
 ('2010-08-01 00-00-00', 217.923, 76.82, 2.02),
 ('2010-09-01 00-00-00', 218.275, 75.31, 2.2),
 ('2010-10-01 00-00-00', 219.035, 81.9, 2.52),
 ('2010-11-01 00-00-00', 219.59, 84.14, 2.62),
 ('2010-12-01 00-00-00', 220.472, 89.04, 2.78),
 ('2011-01-01 00-00-00', 221.187, 89.42, 2.73),
 ('2011-02-01 00-00-00', 221.898, 89.58, 2.67),
 ('2011-03-01 00-00-00', 223.046, 102.94, 2.7),
 ('2011-04-01 00-00-00', 224.093, 110.04, 2.89),
 ('2011-05-01 00-00-00', 224.80599999999998, 101.33, 2.6),
 ('2011-06-01 00-00-00', 224.80599999999998, 96.29, 2.52),
 ('2011-07-01 00-00-00', 225.395, 97.19, 2.73),
 ('2011-08-01 00-00-00', 226.106, 86.33, 2.55),
 ('2011-09-01 00-00-00', 226.597, 85.61, 2.18),
 ('2011-10-01 00-00-00', 226.75, 86.41, 2.23),
 ('2011-11-01 00-00-00', 227.169, 97.21, 2.26),
 ('2011-12-01 00-00-00', 227.22299999999998, 98.57, 2.35),
 ('2012-01-01 00-00-00', 227.842, 100.24, 2.4),
 ('2012-02-01 00-00-00', 228.329, 102.25, 2.5),
 ('2012-03-01 00-00-00', 228.80700000000002, 106.19, 2.57),
 ('2012-04-01 00-00-00', 229.187, 103.33, 2.57),
 ('2012-05-01 00-00-00', 228.713, 94.7, 2.4),
 ('2012-06-01 00-00-00', 228.524, 82.41, 2.48),
 ('2012-07-01 00-00-00', 228.59, 87.93, 2.49),
 ('2012-08-01 00-00-00', 229.918, 94.16, 2.64),
 ('2012-09-01 00-00-00', 231.015, 94.72, 2.72),
 ('2012-10-01 00-00-00', 231.638, 89.57, 2.82),
 ('2012-11-01 00-00-00', 231.24900000000002, 86.66, 2.79),
 ('2012-12-01 00-00-00', 231.22099999999998, 88.25, 2.86),
 ('2013-01-01 00-00-00', 231.679, 94.69, 2.84),
 ('2013-02-01 00-00-00', 232.937, 95.32, 2.86),
 ('2013-03-01 00-00-00', 232.282, 93.05, 2.85),
 ('2013-04-01 00-00-00', 231.797, 92.07, 2.73),
 ('2013-05-01 00-00-00', 231.893, 94.8, 2.6),
 ('2013-06-01 00-00-00', 232.445, 95.8, 2.31),
 ('2013-07-01 00-00-00', 232.9, 104.61, 2.39),
 ('2013-08-01 00-00-00', 233.456, 106.57, 2.53),
 ('2013-09-01 00-00-00', 233.544, 106.29, 2.53),
 ('2013-10-01 00-00-00', 233.669, 100.54, 2.6),
 ('2013-11-01 00-00-00', 234.1, 93.86, 2.59),
 ('2013-12-01 00-00-00', 234.71900000000002, 97.63, 2.65),
 ('2014-01-01 00-00-00', 235.28799999999998, 94.62, 2.72),
 ('2014-02-01 00-00-00', 235.547, 100.82, 2.54),
 ('2014-03-01 00-00-00', 236.028, 100.8, 2.54),
 ('2014-04-01 00-00-00', 236.468, 102.07, 2.53),
 ('2014-05-01 00-00-00', 236.918, 102.18, 2.45),
 ('2014-06-01 00-00-00', 237.231, 105.79, 2.49),
 ('2014-07-01 00-00-00', 237.498, 103.59, 2.55),
 ('2014-08-01 00-00-00', 237.46, 96.54, 2.56),
 ('2014-09-01 00-00-00', 237.477, 93.21, 2.47),
 ('2014-10-01 00-00-00', 237.43, 84.4, 2.35),
 ('2014-11-01 00-00-00', 236.983, 75.79, 2.28),
 ('2014-12-01 00-00-00', 236.252, 59.29, 2.13),
 ('2015-01-01 00-00-00', 234.747, 47.22, 2.02),
 ('2015-02-01 00-00-00', 235.342, 50.58, 2.08),
 ('2015-03-01 00-00-00', 235.976, 47.82, 2.04),
 ('2015-04-01 00-00-00', 236.222, 54.45, 2.11),
 ('2015-05-01 00-00-00', 237.00099999999998, 59.27, 2.1),
 ('2015-06-01 00-00-00', 237.657, 59.82, 2.09),
 ('2015-07-01 00-00-00', 238.03400000000002, 50.9, 2.15),
 ('2015-08-01 00-00-00', 238.033, 42.87, 1.99),
 ('2015-09-01 00-00-00', 237.498, 45.48, 1.88),
 ('2015-10-01 00-00-00', 237.733, 46.22, 1.82),
 ('2015-11-01 00-00-00', 238.017, 42.44, 1.87),
 ('2015-12-01 00-00-00', 237.761, 37.19, 1.78),
 ('2016-01-01 00-00-00', 237.65200000000002, 31.68, 1.65),
 ('2016-02-01 00-00-00', 237.33599999999998, 30.32, 1.54),
 ('2016-03-01 00-00-00', 238.08, 37.55, 1.69),
 ('2016-04-01 00-00-00', 238.99200000000002, 40.75, 1.76),
 ('2016-05-01 00-00-00', 239.55700000000002, 46.71, 1.68),
 ('2016-06-01 00-00-00', 240.222, 48.76, 1.5),
 ('2016-07-01 00-00-00', 240.101, 44.65, 1.53),
 ('2016-08-01 00-00-00', 240.545, 44.72, 1.64),
 ('2016-09-01 00-00-00', 241.176, 45.18, 1.67),
 ('2016-10-01 00-00-00', 241.74099999999999, 49.78, 1.79),
 ('2016-11-01 00-00-00', 242.02599999999998, 45.66, 1.97),
 ('2016-12-01 00-00-00', 242.637, 51.97, 2.05),
 ('2017-01-01 00-00-00', 243.618, 52.5, 2.13),
 ('2017-02-01 00-00-00', 244.00599999999997, 53.47, 2.15),
 ('2017-03-01 00-00-00', 243.892, 49.33, 2.15),
 ('2017-04-01 00-00-00', 244.19299999999998, 51.06, 2.08),
 ('2017-05-01 00-00-00', 244.00400000000002, 48.48, 1.91),
 ('2017-06-01 00-00-00', 244.16299999999998, 45.18, 1.83),
 ('2017-07-01 00-00-00', 244.243, 46.63, 1.9),
 ('2017-08-01 00-00-00', 245.183, 48.04, 1.94),
 ('2017-09-01 00-00-00', 246.435, 49.82, 1.98),
 ('2017-10-01 00-00-00', 246.62599999999998, 51.58, 1.99),
 ('2017-11-01 00-00-00', 247.28400000000002, 56.64, 1.95),
 ('2017-12-01 00-00-00', 247.805, 57.88, 2.04),
 ('2018-01-01 00-00-00', 248.743, 63.7, 2.15),
 ('2018-02-01 00-00-00', 249.43900000000002, 62.23, 2.23),
 ('2018-03-01 00-00-00', 249.581, 62.73, 2.16),
 ('2018-04-01 00-00-00', 250.146, 66.25, 2.21),
 ('2018-05-01 00-00-00', 250.77900000000002, 69.98, 2.18),
 ('2018-06-01 00-00-00', 251.118, 67.87, 2.17),
 ('2018-07-01 00-00-00', 251.32299999999998, 70.98, 2.2),
 ('2018-08-01 00-00-00', 251.74900000000002, 68.06, 2.22),
 ('2018-09-01 00-00-00', 252.239, 70.23, 2.24),
 ('2018-10-01 00-00-00', 252.862, 70.75, 2.23),
 ('2018-11-01 00-00-00', 252.657, 56.96, 2.17),
 ('2018-12-01 00-00-00', 252.551, 49.52, 2.02),
 ('2019-01-01 00-00-00', 252.47, 51.38, 1.96),
 ('2019-02-01 00-00-00', 253.135, 54.95, 2),
 ('2019-03-01 00-00-00', 254.273, 58.15, 2.01),
 ('2019-04-01 00-00-00', 255.16299999999998, 63.86, 2.03),
 ('2019-05-01 00-00-00', 255.325, 60.83, 1.94),
 ('2019-06-01 00-00-00', 255.361, 54.66, 1.85),
 ('2019-07-01 00-00-00', 255.9, 57.35, 1.93),
 ('2019-08-01 00-00-00', 256.17900000000003, 54.81, 1.79),
 ('2019-09-01 00-00-00', 256.596, 56.95, 1.78),
 ('2019-10-01 00-00-00', 257.305, 53.96, 1.72),
 ('2019-11-01 00-00-00', 257.788, 57.03, 1.73),
 ('2019-12-01 00-00-00', 258.263, 59.88, 1.81),
 ('2020-01-01 00-00-00', 258.682, 57.52, 1.79)]

In [36]:
#convert the lists into dataframe
new_data=pd.DataFrame(new_data,columns=['Date', 'CPI', 'WTI', 'T5YI'])
new_data.head()

                  Date      CPI    WTI  T5YI
0  2010-01-01 00-00-00  217.488  78.22  2.66
1  2010-02-01 00-00-00  217.281  76.42  2.60
2  2010-03-01 00-00-00  217.353  81.24  2.57
3  2010-04-01 00-00-00  217.403  84.48  2.74
4  2010-05-01 00-00-00  217.290  73.84  2.45

In [37]:
#let's set a new index 
new_data.set_index('Date')

                         CPI    WTI  T5YI
Date
2010-01-01 00-00-00  217.488  78.22  2.66
2010-02-01 00-00-00  217.281  76.42  2.60
2010-03-01 00-00-00  217.353  81.24  2.57
2010-04-01 00-00-00  217.403  84.48  2.74
2010-05-01 00-00-00  217.290  73.84  2.45
...                      ...    ...   ...
2019-09-01 00-00-00  256.596  56.95  1.78
2019-10-01 00-00-00  257.305  53.96  1.72
2019-11-01 00-00-00  257.788  57.03  1.73
2019-12-01 00-00-00  258.263  59.88  1.81
2020-01-01 00-00-00  258.682  57.52  1.79

[121 rows x 3 columns]